<div class="spotify_topNav ">
    <div class="spotify_topNav_focus m-3 d-flex">
        <h4 class="me-3"> Focus</h4>
        <div id="searchBox" *ngIf="isSearchVisible">
            <!-- <img width="20" height="20" src="https://img.icons8.com/ios-filled/100/000000/search--v1.png" alt="search--v1"/>
            <input  class="ms-2  rounded-pill border-light bg-transparent" type="search" placeholder="What do you want to listen?"> -->
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback ms-2"></span>
                <input type="text" class="form-control ms-2  rounded-pill border-light bg-transparent"
                    placeholder="What do you want to listen?"
                    #inputSearchRef
                    (keyup)="onInputSearch(inputSearchRef)">
            </div>
        </div>

    </div>
    <!-- <div class="spotify_topNav_auth"></div> -->
    <div class="topNavLoginSection ">
        <div class="spotify_topNav_signUp me-4" style="color: gray">Sign Up</div>
        <div class="spotify_topNav_login m-2">
            <button class="ps-4 pe-4 pt-2 pb-2" (click)="goPlaces()">
                Login
            </button>
        </div>
    </div>

</div>