<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <app-top-nav (inputSearchRef)="searchInputRef($event)" ></app-top-nav>
<div class=" container " [ngStyle]="{'height':'100vh'}">
    <h4 [style.color]="'white'" [style.padding]="'10px'">Browse All</h4>
    <div class="individual row  " style="overflow-y: auto;">
        <div class="col-sm-12 col-lg-2 col-md-6 mb-3 " *ngFor="let item of individualCollection">
            <div class="card rounded-3"  [ngStyle]="{ 'background-color': item.color, 'width': '10rem', 'height': '10rem'}">
                <div class="card-body">
                    <h5 class="card-title " [ngStyle]="{'color':'white'}">{{item.name}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>